<header class="intro-header" style="background-image: url('/assets/post-bg.jpg')">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="page-heading">
                  <h1>User</h1>
                  <hr class="small">
                  <span class="subheading">Showing User</span>
              </div>
          </div>
      </div>
  </div>
</header>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <table border="1" width="50%">
        	<tr>
        		<td width="50%">ID</td>
        		<td width="50%"><%= @user.id %></td>
        	</tr>
        	<tr>
        		<td>Name</td>
        		<td><%= @user.name %></td>
        	</tr>
        	<tr>
        		<td>Email</td>
        		<td><%= @user.email %></td>
        	</tr>
        </table>

        	<%= link_to 'Back to Users', users_path %>

        </div>
    </div>
</div>
